{% extends 'base_layout.html' %}
{% block content %}
    <h1>Log in</h1>
    <!-- <form class="login-form" action="{% url 'accounts:login' %}" method='POST'></form> -->
    <form class="site-form" action="/accounts/login/" method='POST'>
        {% csrf_token %}
        {{ form }}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">    <!-- this information will be send as post request when we login in requirement for create page -->
        {% endif %}
        <input type="submit" value="Login">
    </form>
{% endblock %}